@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
}
.header {
  height: 100vh;
  position: relative;
  background: #333 url("../images/architecture-buildings-chicago-1769362.jpg")
    no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

.container h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

.container h1 {
  font-size: 3.5rem;
  color: rgb(71, 70, 70);
}
.container h2 {
  font-size: 2rem;
  color: #aaa;
}
.container .txt-type {
  margin-left: 20px;
}
.mission-section {
  padding: 3rem;
  background-color: #333;
  color: #aaa;
}
.mission-section p {
  font-size: 1.2rem;
  margin: 20px 0;
}
.mission-section .btn {
  padding: 0.6rem 1.4rem;
  color: #aaa;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #aaa;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.6s ease-out;
}
.mission-section .btn:hover {
  color: rgb(143, 217, 252);
  border-bottom-color: rgb(143, 217, 252);
}
.content-section {
  padding: 1rem;
  position: relative;
  height: 400px;
}
.content-section .box {
  height: 100%;
  width: 80%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.content-section:first-child video {
  height: 100%;
  object-fit: cover;
  transform: translate(-500, 0);
  display: block;
}
.content-section .box .img-overlay {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(19, 16, 16, 0.575),
    rgba(19, 16, 16, 0.575)
  );
}
footer {
  text-align: center;
  padding: 3rem;
  color: rgb(143, 217, 252);
  background-color: #333;
}
@media (min-width: 1200px) {
  .header .container h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .header .container {
    padding: 0 1rem;
  }
  .header .container h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .header .container h1 {
    font-size: 2.5;
  }
  .header .container h2 {
    font-size: 1.5rem;
  }
}
